@charset 'utf-8';

.blind{
    height:0;width:0;margin: 0;padding:0;overflow: hidden;visibility: hidden;
}

.clear:after{
    display: block;content: "";clear:both;
}

.t-center{
  text-align: center;  
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
    &.j-center{
        justify-content: center;
    }
}
.f-uppercase{
  text-transform: uppercase;
}
.color-blue{
    color: $blue;
}
.border-none{
    border:none !important;
}
.btn{
    display: block;
    width: 100%;
    border: 1px solid #041a3f;
    border-radius: 3px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    &.btn-black{
        background-color: #041a3f;
        color: #fff;
    }
    &.frist-of-type{
        margin-top: 0;
    }
}
.input__list{
    padding-bottom: 19px;
}
.input__item{
    margin-top: 15px;
    &:first-of-type{
        margin-top: 0;
    }
    .label{
        display: block;
        padding: 15px 0;
    }
    select,
    input[type=number],
    input[type=text],
    input[type=password]{
        border: 1px solid $gray;
        border-radius: 3px;
        height:50px;
        line-height: 48px;
        width: 100%;
        font-size: 16px;
        padding-left: 15px;
    }
    select{
        color: $gray;
        background-color: white;
    }
}

/* transition */
.staggered-fade-enter-active, .staggered-fade-leave-active {
    transition: all 0.6s;
}
.staggered-fade-enter, .staggered-fade-leave-to {
    opacity: 0;
    transform: translateY(20%);
}
.staggered-fade-move {
    transition: transform 0.6s;
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.6s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-move {
    transition: transform 0.6s;
}

@media ( max-width : 1024px ){

}

@media ( max-width : 800px ){
    .hidden-mobile{
        display: none;
    }
}

@media ( max-width : 360px ){
    
}
