@charset 'utf-8';
@media screen and ( min-width : 768px ) {
    .wrap.wrap__estate__list{
        padding: 0;
    }
}
.estate__list{
    padding: 30px 0;
    @media screen and ( min-width : 768px ) {
        padding: 0;
    }
}
.estate__item{
    position: relative;
    border-bottom: 1px solid $gray;
    padding-bottom: 12px;
    margin-bottom: 15px;
   

    @media screen and ( min-width : 768px ) {
        padding: 30px 50px;
        border-bottom: 10px solid #f4f4f4;
        margin-bottom: 0;
    }

}
.estate__item__delete__btn{
    position: absolute;
    right:15px;
    top:15px;
    height: 36px;
    width: 36px;
}
.estate__item__title{
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 0 17px;   
    @media screen and ( min-width : 768px ) {
        font-size: 24px;
        padding: 0 0 20px;   
    }
}
@media screen and ( min-width : 768px ) {
    .estate__summary{
        display: flex;
        justify-content: space-between;
        font-size: $gray;
    }
    
}
.wrap__estate__category{
    display: none;
    @media screen and ( min-width : 768px ) {
        display: block;
    }
}
.wrap__estate__price{
    line-height: 21px;
    .label{
        font-size: 15px;
        padding-right: 10px;
    }
    .price{
        font-size: 18px;
        color: #6c6ee7;
    }
}


//detail
.estate__detail__box{
    border-top: 10px solid #f4f4f4;
    padding: 30px 0;
    &:first-of-type{
        border-top: 0;
    }

    .box__title{
        font-size: 20px;
        padding-bottom: 15px;
    }
    @media screen and ( min-width : 768px ) {
        padding:0;
        .wrap{
            padding: 30px 100px;
            background-color: #fff;
        }

        &:last-child{
            .wrap:last-child{
                
                padding-bottom: 50px;
            }
        }
    }
    
}
.estate__name{
    font-size: 20px;
    padding: 40px 0 20px;
    text-align: center;
}
.estate__category{
    color: #666;
    font-size: 17px;
    text-align: center;
    padding-bottom: 10px;
    & > * {
        padding: 0 20px;
    }
}
.total__invest{
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 55px !important;
}
.estate__detail__item{
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    .item__key{
        font-size: 17px;
    }
    .item__value{
        font-size: 20px;
    }
}
.wrap__table{
    overflow: auto;
    width: calc(100% + 20px);
    margin: 24px 0 32px;
    @media screen and ( min-width : 768px ) {
        width: calc( 100% + 160px );
        margin-left: -80px;
        margin-bottom: 0;
    }
}
.estate__detail__table{
    margin-bottom: 12px;
    width: 450px;
    text-align: center;
    th,td{
        height: 45px;
        border-bottom: 1px solid $gray;
    }
    thead{
        th{
            background-color: #f4f4f4;
            border-top: 1px solid $gray;
           
        }
        
    }
    tbody{
        tr:last-child{
            th,td{
                background-color: #f4f4f4;
            }
        }
    }

    @media screen and ( min-width : 768px ) {
        width: 100%;
    }
    
}


// create
.estate__create__text{
    color: #868e96;
    text-align: center;
    line-height: 26px;
    padding-bottom: 35px;
}

.radio__box{
    display: flex;
    .label,
    label{
        border-radius: 3px;
        border : 1px solid;
        text-align: center;
        padding: 0;
    }
    input{
        display: none;
    }

    &.price__percent{
        padding-top: 12px;
        .label,
        label{
            font-size: 16px;
            flex-basis: calc( 20% - 15px );
            height: 35px;
            border-color:#2badff;
            color: #2badff;
            line-height: 33px;
            margin-right: 15px;
        }
        
    }
    &.location{
        justify-content: space-between;
        label{
            flex-basis: calc( 50% - 5px );
            height: 50px;
            border-color:#dbdbdb;
            color: #dbdbdb;
            line-height: 48px;
        }
        input:checked + label{
            border : 1px solid #000;
            color: #000;
        }
    }
}
