@charset 'utf-8';
.sign__title{
    font-size: 24px;
    padding: 68px 0 52px;
    text-align: center;
}

.sign__text__anchor{
    color: #999;
    display: block;
    margin: 30px auto 0;  
    width: 150px;
    text-align: center; 
}
.find__result__text{
    padding : 30px 20px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #f4f4f4;
    b{
        display: block;
    }
    
}