@charset 'utf-8';

.footer{
    background-color: $dark;
    padding: 42px 0 30px;
    text-align: center;
    color: #fff;
}

.copyright{
    display: block;
    padding-top: 20px;
    font-size: 11px;
    line-height: 18px;
}

